#Experience {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
#Experience ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#Experience li {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border: 2px solid #c3086f;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: glow 2s infinite alternate;
}
#Experience li:hover {
  background-color: #f9cde5;
  color: white;
  transform: translateY(-5px);
  animation: hoverGlow 1s infinite alternate;
}

/* Glow animation */
@keyframes glow {
  from {
    box-shadow: 0px 4px 6px rgba(195, 8, 111, 0.2);
  }
  to {
    box-shadow: 0px 4px 20px rgba(255, 121, 198, 0.8);
  }
}
/* Enhace glow on hover*/
@keyframes hoverGlow {
  from {
    box-shadow: 0px 4px 10px rgba(255, 121, 198, 0.6);
  }
  to {
    box-shadow: 0px 4px 25px rgba(255, 121, 198, 1);
  }
}
#Experience .job-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#Experience .job-info .job-title {
  font-weight: bold;
}
#Experience .job-description {
  font-size: 15px;
  color: black;
}
#Skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 0;
}
#Skills li {
  background-color: rgb(223, 19, 148);
  color: #f0f0f0;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#Connect {
  margin-bottom: 30px;
  text-align: center;
}
#Connect h2 {
  font-size: 30px;
  color: rgb(80, 3, 62);
  margin-bottom: 20px;
}
#Connect ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  justify-content: center;
  gap: 15px;
}
#Connect li {
  display: inline-block;
  margin: 0;
  padding: 10px;
}

#Connect a {
  color: #c3086f;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3 ease, background-color 0.3 ease;
}
#Connect a:hover {
  color: white;
  transform: scale(1.1);
  transition: transform 0.3 ease, background-color 0.3 ease;
}

/* DARK MODE STYLES*/
body.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

nav {
  background-color: rgb(223, 19, 148);
}

body.dark-mode nav {
  background-color: #2b2b2b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

body.dark-mode #Experience li {
  background-color: #2b2b2b;
  border-color: #ff79c6;
  color: #e0e0e0;
}
body.dark-mode #Experience li:hover {
  background-color: #a9a9a9;
  transform: translateY(-5px);
}
body.dark-mode #Skills li {
  background-color: #ff79c6;
  color: #1e1e1e;
}
body.dark-mode #Connect h2 {
  color: #ff79c6;
}
body.dark-mode #Connect li {
  background-color: #3b3b3b;
}
body.dark-mode #Connect a:hover {
  color: rgb(255, 255, 255);
  background-color: #ff79c6;
  transform: scale(1.1);
}
button {
  background-color: #6272a4;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #44475a;
}
